.internships {
    margin-bottom: 20%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 130px;
    position: relative;

}

.arabic .internships {
    font-family: 'Noto Kufi Arabic', sans-serif;
    margin-left: 275px;
    margin-top: -15px;
    margin-right: 0;

}

.internships .sectionBox {
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    gap: 50px;
    border-radius: 20px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;


}

.internships .title {
    text-align: center;
    font-size: 2em;
}



.internships .outerBox {
    background: var(--bg2);
    padding: 20px;
    border-radius: 20px;
    height: max-content;
}

.internships .outerBox .innerBox {
    background: var(--bg);
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

/* .arabic .internships .outerBox .innerBox {
    direction: ltr;
} */


.internships .cards {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.internships .cards .card {
    background: linear-gradient(to right, var(--bg2), var(--bg));
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.7s ease;
    align-items: center;
    width: 300px;
    /* padding: 5px; */
    /* position: relative; */
    /* width: 100%; */
}


.internships .cards .card:hover {
    box-shadow: var(--hover2) 0px 1px 4px, var(--hover) 0px 0px 0px 3px;
    cursor: pointer;
    transform: scale(1.1);
}

/* .cards .card:hover img {
    transform: scale(2);
    z-index: 8;
} */


.internships .cards .card .cardsBottomContent {
    padding: 20px;
    /* border-radius: 20px; */
    display: flex;

    /* justify-content: space-evenly; */
}

.internships .cards .card .cardsBottomContent p {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: auto;
}

.internships .cards .card .cardsBottomContent p span {
    color: var(--theme);
    font-size: 0.7em;
    margin-top: 5px;
}



.internships .cards .card .img {
    width: 100%;
    /* height: 100%; */
    /* border-radius: 50px; */
    transition: 0.7s ease;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    /* background: red; */

}

.internships .cards .card .img img {
    width: 70%;
    height: 90px;
    box-sizing: border-box;
    /* background: red; */
    /* border-radius: 50px; */
    transition: 0.7s ease;
    box-shadow: 0;
    border-radius: 0;

}

.internships .cards .card .cardsBottomContent {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.internships .cards .card .cardsBottomContent .icons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 1.1em;
    /* align-items: center; */

}



.internships .textBox {
    margin: auto;
    display: flex;
    font-weight: 800;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.internships .textBox .hintField {
    display: flex;
    align-items: center;
    gap: 10px;
}

.internships .textBox .hintIcon {
    color: var(--theme)
}

.internships .searchContainer {
    display: flex;
    margin-bottom: 20px;
    position: fixed;
    z-index: 9000;
    left: 32%;
    bottom: 77.5%;
    width: 10%;
}

.arabic .internships .searchContainer {
    display: flex;
    margin-bottom: 20px;
    position: fixed;
    z-index: 9000;
    right: 32%;
    bottom: 77.5%;
    width: 10%;
}












.internships .categories {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px auto 0 auto;
    width: 200px;
    flex-wrap: wrap;
    box-sizing: border-box;
    white-space: wrap;
}

.categoryDropdown {
    margin-top: 10px;
}

.categorySelect {
    /* background-color: var(--theme); */
    /* color: var(--bg); */
    /* border: none; */
    border-radius: 10px 0 10px 0;
    padding: 5px;
    transition: 0.5s ease all;
    cursor: pointer;
}

/* .categorySelect:focus {
    color: var(--bg);
}

.categorySelect select, .categorySelect option {
    color: var(--bg);
} */

.internships .category {
    background: var(--theme);
    padding: 4px;
    color: var(--bg);
    border-radius: 10px;
    font-size: 0.7em;
}






.internships .categoryFilter {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;

}

.internships .categoryFilter select {
    background: var(--hover);
    color: var(--bg);
    /* border: none; */
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}


.internships .categoryFilter option.selected-option {
    background-color: var(--theme);
    color: white;
}



.internships .categoryFilter option {
    background: none;
    color: var(--bg);
    border: none;
    border-radius: 20px;
    padding: 5px;
}

/* .internships .clearFilter {
    background: var(--theme);
    border: none;
    color: var(--bg);
    padding: 6px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.internships .clearFilter:hover {
    transform: scale(1.2);
} */

.icon.filter {
    background: var(--theme);
    color: var(--bg);
}

.internships .selectedCategories {
    width: fit-content;
    margin: 20px auto 0px auto;
}

.internships .rowCategories {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: var(--bg2);
    color: var(--theme);
    font-weight: 700;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    flex-wrap: wrap;
}





.internships .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: linear-gradient(to right, var(--bg), var(--bg2)); */
    background: var(--bg);
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    z-index: 9999;
    display: none;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: max-content; */

}


/* .arabic .internships .popup {
    direction: ltr
} */

.internships .popup-opening {
    display: block;
    animation: popup-open 0.5s ease-in-out forwards;
}

.internships .popup-closing {
    opacity: 0;
    transform: scale(0.8) translate(-50%, -50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}



@keyframes popup-open {
    0% {
        opacity: 0;
        transform: scale(0.8) translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes popup-close {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
        display: none;
    }
}

.popup.show {
    display: block;
}

.popup-content {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    height: 100%;
    gap: 10px;

}


.popup .top {
    display: flex;
    flex-direction: column;
    background: var(--bg2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 10px;
    border-radius: 20px;

}

.popup .top img {
    width: 100%;
    height: 170px;
    border-radius: 20px;

}



.internships .popup .bottom {
    display: flex;
    flex-direction: column;
    background: var(--bg2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 15px;
    border-radius: 20px;
    gap: 10px;
}

.popup .bottom .header {
    display: flex;
    background: var(--bg2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 10px;
    border-radius: 20px;
    justify-content: space-between;

}

.popup .bottom .header .headerImg {
    display: flex;
    gap: 10px;
}

.popup .bottom .header .headerImg img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    transition: 0.7s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.popup .bottom .header .headerTitle {
    justify-self: center;
    align-self: center;
}

.popup .bottom .bus {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    box-sizing: border-box;
    width: 90%;
    /* text-align: justify; */

}

.internships .popup .bottom .bus.new {
    width: 100%;
    text-align: justify;
}













@media screen and (max-width:700px) {

    .internships {
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 90%;
        /* justify-content: center; */
        align-items: center;
        margin: 0 auto 50% auto;
        /* Center vertically */
        /* Center horizontally */
    }


    .arabic .internships {
        font-family: 'Noto Kufi Arabic', sans-serif;
        margin: 0;
        margin: 40px auto 50% auto;



    }

    .internships .sectionBox {
        width: fit-content;
        flex-direction: column;
        padding: 15px;
        gap: 50px;
        /* width: 100%; */
    }

    /* .arabic .section .title {
        font-size: 0.1em
    } */


    .internships .outerBox {
        padding: 15px;
    }

    .internships .outerBox .innerBox {
        /* background: var(--bg2); */
        padding: 5px;
    }



    .cards .card .cardsBottomContent {
        justify-content: space-evenly;
    }

    .cards .card .img img {
        width: 100%;
        height: 120px;
    }


    .internships .textBox {
        justify-content: space-evenly;
        gap: 0;
        column-gap: 50px;
        flex-wrap: wrap;
    }


    .internships .searchContainer {
        display: flex;
        margin-bottom: 20px;
        position: relative;
        z-index: 9000;
        width: 80%;
        left: 0%;
    }

    .arabic .internships .searchContainer {
        display: flex;
        margin-bottom: 20px;
        position: relative;
        z-index: 9000;
        width: 80%;
        left: 0%;
        right: 0%;
    }

    .internships .popup {
        width: 70%;
    }
}